body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header-area {
    background-image: linear-gradient(rgba(22, 31, 71, 0.7), rgba(13, 18, 38, 0.7)), url(images/donation7.jpg);
    min-height: 100vh;
}

.header-text {
    color: #fff;
    text-align: center;
    padding-top: 10%;
}

.header-text h1 {
    font-size: 60px;
    font-weight: 900px;
}

.header-text h2 {
    font-weight: 700;
    font-size: 40px;
}

.header-text p {
    font-weight: bold;
    font-size: 20px;
}

.link-button {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    background: #f44336;
    padding: 12px 35px;
    border: 1px solid #fff;
}

.donate-area {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.donate-text {
    text-align: center;
    margin: auto;
    width: 100%;
}

.select {
    display: flex;
    text-align: center;
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

.select-item {
    padding: 40px 50px;
    background-color: rgb(236, 230, 230);
    margin-right: 5px;
    font-weight: 700;
    font-size: 30px;
    border: 1px solid grey;
    border-radius: 5px;
}

.select-item:hover {
    border: 3px solid #f44336;
    background: #bf736e;
}

.input {

    margin-bottom: 40px;
}

.donate-button-area input {
    border: none;
}

.donate-button-area hr {
    margin-top: 20px;
    margin-bottom: 60px;
}

/* .select-item a {
    text-decoration: none;
    color: #f44336;
} */